.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  ul.pagination > li {
    display: inline-block;
  }
  
  ul.pagination > li > a {
    margin-right: 10px;
  }
  ul.pagination > li > a span {
    margin-left: 5px;
}



